.bg-header-texture {
  background-image: url("/src/assets/bg-pattern-intro-desktop.svg");
  background-size: 140% auto;
  background-position: center -800px;
  background-repeat: no-repeat;
  padding: 4rem 10rem;
  text-align: center;
  border-bottom-left-radius: 5rem;
}

.bg-art-texture {
  background-image: url("/src/assets/bg-pattern-circles.svg");
  background-size: 60%;
  background-position: left -300px;
  background-repeat: no-repeat;
}

.bg-header-mobile {
  position: relative;
}

.bg-header-mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assets/bg-pattern-intro-mobile.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

@media (min-width: 768px) {
  .bg-header-mobile::before {
    display: none;
  }
}
