.bg-header-texture {
    background-image: url('/src/assets/bg-pattern-intro-desktop.svg');
    background-size: 140% auto;
    background-position: center -800px;
    background-repeat: no-repeat;
  }